<p id="notice"><%= notice %></p>

<h1>Product Types</h1>

<table>
  <thead>
  <tr>
    <th>Product type desc</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @product_types.each do |product_type| %>
      <tr data-link="<%= product_type_path(product_type) %>">
        <td><%= product_type.product_type_desc %></td>
        <td><%= link_to 'Destroy', product_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product Type', new_product_type_path %>