<%= form_for @customer_event, :url => create_customer_event_path, :html => {:method => :post} do |f| %>
  <% if @customer_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer_event.errors.count, "error") %> prohibited this customer_event from being saved:</h2>

      <ul>
      <% @customer_event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="row">
      <div class="col-lg-4 text-center">
        <h4>Kids</h4>
        <%= f.number_field :kids_painting, class: "form-control" %>
      </div>
      <div class="col-lg-4 text-center">
        <h4>Adults</h4>
        <%= f.number_field :adults_painting, class: "form-control" %>
      </div>
      <div class="col-lg-4">
        <% visitor = @customer_event.number_in_party - (@customer_event.kids_painting + @customer_event.adults_painting) %>
        <h4 class="text-center">Visitors</h4>
        <div class="form-control"><%= visitor %></div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-lg-4 text-center">
        <h4>Party Size</h4>
        <%= f.number_field :number_in_party, class: "form-control" %>
      </div>
    </div>

    <br>

    <div class="row footer">
      <div class="col-lg-3 col-lg-offset-5 text-right">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
      <div class="col-lg-4 text-left">
        <%= f.submit "Create Walk-In", class: "btn btn-primary", id: "submit" %>
      </div>
    </div>

<% end %>

<script>
    jQuery(function(){
        return $('#customer_event_phone').autocomplete({
            source: $('#customer_event_phone').data('autocomplete-source')
        });
    });
</script>