<p id="notice"><%= notice %></p>
<%= form_tag customer_events_path, method: :get do %>
    <%= text_field_tag 'search[date_from]', @search.date_from %>
    <%= text_field_tag 'search[date_to]', @search.date_to %>
    <%= submit_tag 'Search' %>
<% end %>


<h1>Customer Events</h1>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>Event Date</th>
      <th>Customer</th>
      <th>Number in party</th>
      <th>Adults painting</th>
      <th>Kids painting</th>
      <th>Deposit</th>
      <th>Archive</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customer_events.each do |customer_event| %>
      <tr data-link="<%= customer_event_path(customer_event) %>">
        <td><%= customer_event.event.event_name %></td>
        <td><%= customer_event.event.event_date %></td>
        <td><%= customer_event.customer.first_name %></td>
        <td><%= customer_event.number_in_party %></td>
        <td><%= customer_event.adults_painting %></td>
        <td><%= customer_event.kids_painting %></td>
        <td><%= customer_event.deposit %></td>
        <td><%= link_to 'Show', customer_event %></td>
        <td><%= link_to 'Edit', edit_customer_event_path(customer_event) %></td>
        <td><%= link_to 'Archive', customer_event, method: :delete,class: 'btn btm-mini btn-danger', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer Event', new_customer_event_path %>
