<p id="notice"><%= notice %></p>

<div class="page-header">
  <div class="row">
    <div class="col-lg-3 col-lg-offset-8">
      <%= render 'customer_events/show/buttons' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-3 col-lg-offset-1 float-down">
    <%= render 'customer_events/show/customer' %>
  </div>

  <div class="col-lg-4">
    <%= render 'customer_events/show/total' %>
  </div>

  <div class="col-lg-3 float-down">
    <%= render 'customer_events/show/event' %>
  </div>
</div>

<h2 class="product">Products</h2>

<div class="row">
  <%= render 'customer_events/show/products_form' %>
</div>

<br>

<table class="table table-hover">
  <thead>
  <tr>
    <th>Product</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Product total</th>
    <th>Pickup status</th>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody>
  <% running_total = 0 %>
  <% @customer_event_products.each do |customer_event_product| %>
      <tr>
        <td><%= customer_event_product.product.product_name %></td>
        <td><%= customer_event_product.quantity %></td>
        <td><%= number_to_currency(customer_event_product.product.product_price)%></td>
        <td><%= number_to_currency(customer_event_product.quantity * customer_event_product.product.product_price) %></td>
        <td>
          <%= form_for customer_event_product, :url => 'update_pickup_status',:html=>{:id=>'pickup'} do |f| %>
              <%= f.collection_select(:pickup_status_id, PickupStatus.all, :id, :pickup_status_desc, {}, {class: "form-control"}) %>
          <% end %>
        </td>
        <td></td>
        <% running_total =  running_total + (customer_event_product.quantity * customer_event_product.product.product_price)%>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<h4 class="pull-left">Customer Total <%= number_to_currency(running_total) %> </h4>