<p id="notice"><%= notice %></p>

<% customer_total = 0 %>

<div class="page-header">
  <div class="row">
    <div class="col-lg-7">
      <h1>
        <% if @customer_event.event.event_type_id == 7 %>
            Walk In
        <% else %>
            <%= @customer_event.event.event_name %>
        <% end %>
        <span class="glyphicon glyphicon-chevron-right" style="color: #C33764"></span>
        <%= @customer_event.customer.first_name%> <%= @customer_event.customer.last_name%>
      </h1>
    </div>
    <div class="col-lg-3 col-lg-offset-8" style="margin-top:-69px">
      <%= render 'customer_events/show/buttons' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-4 col-lg-offset-2">
    <h3 class="text-center", style="color: #C33764">Customer Information</h3>
  </div>

  <div class="col-lg-4">
    <h3 class="text-center", style="color: #C33764">Event Information</h3>
  </div>
</div>

<div class="row">
  <div class="col-lg-4 col-lg-offset-2">
    <%= render 'customer_events/show/customer' %>
  </div>

  <div class="col-lg-4">
    <%= render 'customer_events/show/event', type: @customer_event.event.event_type_id %>
  </div>
</div>

<h3>Products</h3>

<div class="row">
  <%= render 'customer_events/show/products_form' %>
</div>

<br>

<table class="table table-hover text-center">
  <thead>
  <tr class="wrap-text">
    <th class="col-lg-4 text-center">Product</th>
    <th class="col-lg-1 text-center">Quantity</th>
    <th class="col-lg-1 text-center">Price</th>
    <th class="col-lg-2 text-center">Amount</th>
    <th class="col-lg-2 text-center">Pickup status</th>
    <th class="col-lg-1 text-center">Action</th>
  </tr>
  </thead>

  <tbody>
  <% @customer_event_products.each do |customer_event_product| %>
      <% customer_total = customer_total + customer_event_product.sales.to_d %>
      <tr class="no-pointer">
        <td><%= customer_event_product.product_name %></td>
        <td><%= customer_event_product.quantity %></td>
        <td><%= number_to_currency(customer_event_product.product_price)%></td>
        <td><%= number_to_currency(customer_event_product.quantity * customer_event_product.product_price) %></td>
        <td>
          <%= form_for customer_event_product, :url => url_for(:controller => 'customer_event_products', :action => 'update', :id => customer_event_product.id), :method => "patch" do |f| %>
              <%= f.collection_select(:pickup_status_id, PickupStatus.all, :id, :pickup_status_desc, {}, {class: "form-control", onchange: "this.form.submit();"}) %>
          <% end %>
        </td>
        <td><div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><%= link_to 'Delete', customer_event_product_path(customer_event_product, type: :normal),method: :delete,class: ' ', data: { confirm: 'Remove this product?' } %></li>
          </ul>
        </div></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<div class="row">
  <div class="col-lg-7 text-right"><h4 class="text-right">Subtotal:</h4></div>
  <div class="col-lg-2 text-center pleft"><h4><%= number_to_currency(customer_total) %></h4></div>
</div>
<div class="row">
  <div class="col-lg-7 text-right"><h4 class="text-right">Studio Fees:</h4></div>
  <% studio_fee = (@customer_event.kids_painting.to_i * 5) + (@customer_event.adults_painting.to_i * 6) %>
  <div class="col-lg-2 text-center pleft"><h4><%= number_to_currency(studio_fee) %></h4></div>
</div>
<div class="row">
  <div class="col-lg-7 text-right"><h4>Taxes:</h4></div>
  <% subtotal = customer_total + studio_fee %>
  <% taxes = ((subtotal * 825.0)/10000) %>
  <div class="col-lg-2 text-center pleft"><h4><%= number_to_currency(taxes) %></h4></div>
</div>
<div class="row">
  <div class="col-lg-7 text-right"><h4>Customer Total:</h4></div>
  <div class="col-lg-2 text-center pleft"><h3 style="color: #5cb85c"><%= number_to_currency(subtotal.to_d + taxes.to_d) %></h3></div>
</div>
