<%= form_for(employee) do |f| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>
      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="row"><h4 class="col-lg-10 col-lg-offset-1">Name</h4></div>

    <div class="row">
      <div class="col-lg-4 col-lg-offset-1"><%= f.text_field :first_name, placeholder: "First Name", class: "form-control" %></div>
      <div class="col-lg-6"><%= f.text_field :last_name, placeholder: "Last Name", class: "form-control" %></div>
    </div>

    <br><div class="row"><h4 class="row col-lg-10 col-lg-offset-1">Address</h4></div>

    <div class="row"><div class="col-lg-10 col-lg-offset-1"><%= f.text_field :address, placeholder: "Address", class: "form-control" %></div></div>

    <br>

    <div class="row">
      <div class="col-lg-5 col-lg-offset-1"><%= f.text_field :city, placeholder: "City", class: "form-control" %></div>
      <div class="col-lg-4 col-lg-offset-1"><%= f.collection_select(:state_id, State.all, :id, :state_name, {prompt: "State/Province"}, {class: "form-control"}) %></div>
    </div>

    <br>

    <div class="row"><div class="col-lg-3 col-lg-offset-1"><%= f.text_field :zipcode, placeholder: "Postal Code", class: "form-control" %></div></div>

    <br>

    <div class="row"><div class="col-lg-5 col-lg-offset-1"><%= f.collection_select(:country_id, Country.all, :id, :country_name, {prompt: "Country"}, {class: "form-control"}) %></div></div>

    <br>

    <div class="row">
      <h4 class="col-lg-4 col-lg-offset-1">Phone</h4>
      <h4 class="col-lg-6">Email</h4>
    </div>

    <div class="row">
      <div class="col-lg-4 col-lg-offset-1"><%= f.text_field :phone, placeholder: "Phone Number", class: "form-control", id: "phone" %></div>
      <div class="col-lg-6"><%= f.text_field :email, placeholder: "Email", class: "form-control" %></div>
    </div>

    <br><div class="row"><h4 class="row col-lg-10 col-lg-offset-1">Position (Optional)</h4></div>

    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <div class="row">
          <%= hidden_field_tag "employee[employee_type_id][]", nil %>
          <% EmployeeType.all.each do |employee_type| %>
              <div class="col-lg-4">
                <%= check_box_tag "employee[employee_type_id][]", employee_type.id, @employee.employee_type_ids.include?(employee_type.id), id: dom_id(employee_type) %>
                <%= label_tag dom_id(employee_type), employee_type.employee_type_desc %>
              </div>
          <% end %>
        </div>
      </div>
    </div>

    <br><div class="row"><h4 class="row col-lg-10 col-lg-offset-1">Notes</h4></div>

    <div class="row">
      <div class="col-lg-10 col-lg-offset-1"><%= f.text_area :comment, rows: "3", class: "form-control" %></div>
    </div>

    <br>

    <div class="row footer">
      <div class="col-lg-3 col-lg-offset-5 text-right">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
      <div class="col-lg-4 text-left">
        <%= f.submit class: "btn btn-primary" %>
      </div>
    </div>
<% end %>
