<%= form_for(position) do |f| %>
  <% if position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(position.errors.count, "error") %> prohibited this position from being saved:</h2>

      <ul>
      <% position.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <div class="field">
      <%= 'Employee Name: ' %>
      <%= f.collection_select :employee_id,Employee.all, :id, :first_name,class: "form-control" %>
    </div>
  </div>

  <div>
    <div class="field">
      <%= 'Employee Type: ' %>
      <%= f.collection_select :employee_type_id, EmployeeType.all, :id, :employee_type_desc,class: "form-control" %>
    </div>
  </div>

    <div class="row footer">
      <div class="col-lg-3 col-lg-offset-5 text-right">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
      <div class="col-lg-4 text-left">
        <%= f.submit class: "btn btn-primary", redirect_to: 'admin#positions_tab' %>
      </div>
    </div>
<% end %>
