<%= form_for(position) do |f| %>
  <% if position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(position.errors.count, "error") %> prohibited this position from being saved:</h2>

      <ul>
      <% position.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :employee_id %>
    <%= f.collection_select :employee_id,Employee.all, :id, :first_name %>
  </div>

  <div class="field">
    <%= f.label :employee_type_id %>
    <%= f.collection_select :employee_type_id, EmployeeType.all, :id, :employee_type_desc %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
