<%= form_for [@customer_event, @customer_event_product] do |f| %>

  <div class="field">
    <%= f.label :product_id %>
    <%= f.collection_select :product_id, Product.all, :id, :product_name, {include_blank: true} %>
  </div>

  <div class="field">
    <%= f.label :quantity %>
    <%= f.number_field :quantity %>
  </div>

  <div class="field">
    <%= f.label :pickup_status_id %>
    <%= f.collection_select :pickup_status_id, PickupType.all, :id, :pickup_status_desc, {include_blank: true} %>
  </div>

  <div class="field">
    <%= f.label :archive %>
    <%= f.check_box :archive %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
