<%= form_for(customer_event_product) do |f| %>
  <% if customer_event_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer_event_product.errors.count, "error") %> prohibited this customer_event_product from being saved:</h2>

      <ul>
      <% customer_event_product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer_event_id %>
    <%= f.number_field :customer_event_id %>
  </div>

  <div class="field">
    <%= f.label :product_id %>
    <%= f.number_field :product_id %>
  </div>

  <div class="field">
    <%= f.label :quantity %>
    <%= f.number_field :quantity %>
  </div>

  <div class="field">
    <%= f.label :pickup_status_id %>
    <%= f.number_field :pickup_status_id %>
  </div>

  <div class="field">
    <%= f.label :archive %>
    <%= f.check_box :archive %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
