<p id="notice"><%= notice %></p>

<p>
  <strong>Customer event:</strong>
  <%= @customer_event_product.customer_event_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @customer_event_product.product_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @customer_event_product.quantity %>
</p>

<p>
  <strong>Pickup status:</strong>
  <%= @customer_event_product.pickup_status_id %>
</p>

<p>
  <strong>Archive:</strong>
  <%= @customer_event_product.archive %>
</p>


