  <div class="container vertical-divider">
    <div class="column one-third">
      <h1 style="margin-top:10px;color: #999999 ;">Past 7-Day Analytics</h1>
      <!--<p><%  1.week.ago %><%  Time.now %></p>-->
    </div>
    <div class="column one-third">
      <h4 style="color: #999999">Weekly Sales</h4>
      <h1 style="margin-top:-10px;"><%= number_to_currency(@weeklysales) %></h1>
      <%  a=Admin.weeklysales.to_f
          b=Admin.twoweeksprior.to_f %>
      <% if @weeklysales > @twoweeksprior %>
          <% percent1= (((a-b)/b)*100) %>
          <h4><span style="color:forestgreen "><span class="glyphicon glyphicon-triangle-top"></span><%= percent1.round %>%</span> from prior week</h4>
      <% else %>
          <% percent1= (((b-a)/b)*100)%>
          <h4><span style="color:red"><span class="glyphicon glyphicon-triangle-bottom"></span>-<%= percent1.round %>%</span> from prior week</h4>
      <% end %>
    </div>

    <div class="column one-third">
      <h4 style="color: #999999">Weekly Total Attendees</h4>
      <%  a=Admin.totalvisitors.to_f
          b=Admin.twototalvisitors.to_f %>
      <h1 style="margin-top:-10px;"><%= @totalvisitors%></h1>
      <% if @totalvisitors > @twototalvisitors %>
          <% percent2= (((a-b)/b)*100)%>
          <h4><span style="color:forestgreen "><span class="glyphicon glyphicon-triangle-top"></span><%= percent2.round %>%</span> from prior week</h4>
      <% else %>
          <% percent2= (((b-a)/b)*100)%>
          <h4><span style="color:red"><span class="glyphicon glyphicon-triangle-bottom"></span>-<%= percent2.round %>%</span> from prior week</h4>
      <% end %>
    </div>

    <div class="column one-third">
      <h4 style="color: #999999">Products Sold</h4>
      <h1 style="margin-top:-10px;"><%= @productsold %> <%=@twoproductsold %></h1>
      <%  a=Admin.productsold.to_f
          b=Admin.twoproductsold %>
      <% if @productsold > @twoproductsold %>
          <% percent3=(((a-b)/b)*100) %>
          <h4><span style="color:forestgreen "><span class="glyphicon glyphicon-triangle-top"></span><%= percent3.round %>%</span> from prior week</h4>
      <% else %>
          <% percent3=(((b-a)/b)*100) %>
          <h4><span style="color:red"><span class="glyphicon glyphicon-triangle-bottom"></span>-<%= percent3.round %>%</span> from prior week</h4>
      <% end %>
    </div>

    <div class="column one-third">
      <h4 style="color: #999999">Products Kilned</h4>
      <h1 style="margin-top:-10px;"><%= @productsready %></h1>
      <%  a=Admin.productsready.to_f
          b=Admin.twoproductsready.to_f %>
      <% if @productsready > @twoproductsready %>
          <% test= (((a-b)/b)*100) %>
          <h4><span style="color:forestgreen "><span class="glyphicon glyphicon-triangle-top"></span><%= test.round %>%</span> from prior week</h4>
      <% else %>
          <% test= (((b-a)/b)*100) %>
          <h4><span style="color:red"><span class="glyphicon glyphicon-triangle-bottom"></span><%= test.round %>%</span> from prior week</h4>
      <% end %>
    </div>

  </div>
<div style="background-color: #BBBBBB; margin-top:-20px;width:70%;height:1px; ">

</div>

