<!--<h1 style="color: #C33764">Number of Products of a Given Type</h1>-->
<!--<= pie_chart Product.joins(:product_type).group(:product_type_desc).count, colors:["purple","navy"] %>-->


<!--<h1 style="color: #C33764">Most popular items in the last week</h1>-->
<!--<= pie_chart Product.joins(:customer_event_products).group(:product_name).sum('customer_event_products.quantity').first(5)%>-->
<div style="position:absolute;top:50px;">
  <%= render 'admin/index/numbers' %>
</div>

<div>
  <%= render 'admin/index/charts/mostpopprod' %>
  <%= render 'admin/index/charts/numberattendee' %>
  <%= render 'admin/index/charts/evrevenue' %>
  <%= render 'admin/index/charts/prodpurchase' %>
  <%= render 'admin/index/charts/eventmostprofit' %>
  <%= render 'admin/index/charts/recogemp' %>
  <!--<div style="position:absolute; left: 700px;top: 840px;">-->
    <!--<h1 style="color: #C33764">Number of Events Scheduled</h1>-->
    <!--<= line_chart Event.where(:event_date => 1.days.ago .. 1.months.from_now).group_by_day(:event_date)-->
<!--#                        .where('event_type_id <> 7')-->
<!--#                        .count,-->
<!--#                    colors:["green"],label:["Events"],width:"600px",curve:false,download:true,-->
                   <!--xtitle:["Group by Week"]%>-->
  <!--</div>-->






</div>