<p id="notice"><%= notice %></p>

<h1>Pickup Statuses</h1>

<table>
  <thead>
    <tr>
      <th>Pickup status desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pickup_statuses.each do |pickup_status| %>
      <tr>
        <td><%= pickup_status.pickup_status_desc %></td>
        <td><%= link_to 'Show', pickup_status %></td>
        <td><%= link_to 'Edit', edit_pickup_status_path(pickup_status) %></td>
        <td><%= link_to 'Destroy', pickup_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pickup Status', new_pickup_status_path %>
