<!-- Nav index -->
<ul class="nav nav-tabs text-center" role="tablist">
  <li class="tab-header"><h1  class="tab-spacing", style="color: #C33764">Admin</h1></li>
  <li role="presentation" class="active"><a href="#reports_tab" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-stats"></span><br>Reports</a></li>
  <li role="presentation"><a href="#colors_tab" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-tint"></span><br>Colors</a></li>
  <li role="presentation"><a href="#event_types_tab" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-calendar"></span><br>Event Types</a>
  <li role="presentation"><a href="#positions_tab" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-briefcase"></span><br>Positions</a></li>
  <li role="presentation"><a href="#products_tab" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-tags"></span><br>Products</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="reports_tab"><%= render 'admin/index/reports' %></div>
  <div role="tabpanel" class="tab-pane" id="colors_tab"> <%= render 'colors/colortable' %></div>
  <div role="tabpanel" class="tab-pane" id="event_types_tab"><%= render 'event_types/eventtypetable' %></div>
  <div role="tabpanel" class="tab-pane" id="positions_tab"> <%= render 'positions/positiontable' %></div>
  <div role="tabpanel" class="tab-pane" id="products_tab"> <%= render 'products/producttable' %></div>
</div>