<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Event</h2>
  </div>
  <div class="panel-body">
    <div class="imaginary_container">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Event name</th>
          <th>Time</th>
          <th>Event type</th>
          <th>Sales</th>
          <th>Color</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <% @events.each do |event| %>
            <tr data-link="<%= event_path(event) %>" class="clickable-row">
              <td><%= event.event_name %></td>
              <td><%= event.start_time.strftime("%l:%M %p") %> - <%= event.end_time.strftime("%l:%M %p") %></td>
              <td><%= event.event_type.event_type_desc %></td>
              <td></td>
              <td><span class="simplecolorpicker icon color-picked" style="background-color: <%= event.color.color_code %>;"></span></td>
              <td><div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Detail', event %></li>
                  <li><%= link_to 'Edit', edit_event_path(event) %></li>
                  <li><%= link_to 'Delete', event_path(event, type: :normal),method: :delete,class: ' ', data: { confirm: 'Are you sure?' } %></li>
                </ul>
              </div></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <div class="row text-center">
      <% if @events.length > 0 && @events.total_pages > 1 %>
          <%= will_paginate @events, renderer: BootstrapPagination::Rails, :param_name => 'event_page' %>
          <div class="page_info">
            <%= page_entries_info @events %>
          </div>
      <% end %>
    </div>
  </div>
</div>