<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Event</h2>
  </div>
  <div class="panel-body">
    <div class="imaginary_container">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Event name</th>
          <th>Time</th>
          <th>Event type</th>
          <th>Total</th>
          <th>Color</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <% @events.each do |event| %>
            <tr data-link="<%= event_path(event) %>">
              <td><%= event.event_name %></td>
              <td><%= event.start_time.strftime("%l:%M %p") %> - <%= event.end_time.strftime("%l:%M %p") %></td>
              <td><%= event.event_type.event_type_desc %></td>
              <td></td>
              <td><span class="simplecolorpicker icon color-picked" style="background-color: <%= event.color.color_code %>;"></span></td>
              <td><%= link_to 'Archive', event, method: :delete,class: 'btn btm-mini btn-danger', data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <div class="row text-center">
      <div class="col-lg-3 col-lg-offset-4">
        <% if @events.length > 0 && @events.total_pages > 1 %>
            <%= will_paginate @events %>
            <div class="page_info">
              <%= page_entries_info @events %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>