<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Walk-In</h2>
  </div>
  <div class="panel-body">
    <div class="imaginary_container">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>First name</th>
          <th>Last name</th>
          <th>Sales</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <% @walk_in.each do |walk_in| %>
            <tr data-link="<%= event_path(walk_in) %>" class="clickable-row">
              <td><%= walk_in.customer.first_name %></td>
              <td><%= walk_in.customer.last_name %></td>
              <td></td>
              <td><%= link_to 'Archive', walk_in, method: :delete,class: 'btn btm-mini btn-danger', data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <div class="row text-center">
      <% if @walk_in.length > 0 && @walk_in.total_pages > 1 %>
          <%= will_paginate @walk_in, renderer: BootstrapPagination::Rails, :param_name => 'walk_in_page' %>
          <div class="page_info">
            <%= page_entries_info @walk_in %>
          </div>
      <% end %>
    </div>
  </div>
</div>