<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Walk-In</h2>
  </div>
  <div class="panel-body">

    <div class="imaginary_container">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>First name</th>
          <th>Last name</th>
          <th>Time</th>
          <th>Total</th>
          <th>Color</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <% @walk_in.each do |walk_in| %>
            <tr data-link="<%= event_path(walk_in) %>">
              <td><%= walk_in.customer.first_name %></td>
              <td><%= walk_in.customer.last_name %></td>
              <td><%= walk_in.event.start_time.strftime("%l:%M %p") %> - <%= walk_in.event.end_time.strftime("%l:%M %p") %></td>
              <td></td>
              <td><span class="simplecolorpicker icon color-picked" style="background-color: <%= walk_in.event.color.color_code %>;"></span></td>
              <td><div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <%= link_to 'Detail', walk_in %>
                  <%= link_to 'Edit', edit_event_path(walk_in) %>
                  <%= link_to 'Archive', walk_in, method: :delete,class: ' ', data: { confirm: 'Are you sure?' } %>
                </ul>
              </div></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>