<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Walk-In</h2>
  </div>
  <div class="panel-body">
    <% if @walk_ins.length > 0 && @walk_ins.total_pages > 1 %>
        <div class="row">
          <div class="col-lg-6 col-lg-offset-2">
            <div class="input-group stylish-input-group">
              <input type="text" class="form-control" placeholder="Search">
              <span class="input-group-addon">
                    <button type="submit">
                      <span class="glyphicon glyphicon-search"></span>
                    </button>
                  </span>
            </div>
          </div>
        </div>
    <% end %>

    <div class="imaginary_container">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Name</th>
          <th>Phone</th>
          <th>Sales</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <% @walk_ins.each do |walk_in| %>
            <tr data-link="<%= event_path(walk_in) %>" class="clickable-row">
              <td><%= walk_in.customer.first_name %> <%= walk_in.customer.last_name %></td>
              <td><%= number_to_phone(walk_in.customer.phone, area_code: true) %></td>
              <td></td>
              <td><div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Detail', walk_in %></li>
                  <li><%= link_to 'Edit', edit_event_path(walk_in) %></li>
                  <li><%= link_to 'Archive', walk_in, method: :delete,class: ' ', data: { confirm: 'Are you sure?' } %></li>
                </ul>
              </div></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <div class="row text-center">
      <% if @walk_ins.length > 0 && @walk_ins.total_pages > 1 %>
          <%= will_paginate @walk_ins, renderer: BootstrapPagination::Rails, :param_name => 'walk_in_page' %>
          <div class="page_info">
            <%= page_entries_info @walk_ins %>
          </div>
      <% end %>
    </div>
  </div>
</div>