<div class="panel panel-default shadow-pane">
  <div class="panel-heading">
    <h2 class="panel-title">Employee Information</h2>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <% if @employees.length > 0 && @employees.total_pages > 1 %>
            <%= render 'employees/index/search' %>
        <% end %>
      </div>
    </div>

    <div class="imaginary_container">
      <table class="table table-hover text-center">
        <thead>
        <tr class="text-wrap">
          <th class="col-lg-3 text-center">Name</th>
          <th class="col-lg-2 text-center">Phone</th>
          <th class="col-lg-3 text-center">Email</th>
          <th class="col-lg-1 text-center">Upcoming Assignments</th>
          <th class="col-lg-2 text-center">Positions</th>
          <th class="col-lg-1 text-center">Actions</th>
        </tr>
        </thead>

        <tbody>
        <% @employees.with_deleted.each do |employee| %>
            <tr data-link="<%= employee_path(employee) %>" class="clickable-row">
              <td><%= employee.first_name %> <%= employee.last_name %></td>
              <td><%= number_to_phone(employee.phone, area_code: true) %></td>
              <td><%= employee.email %></td>
              <td><span class="badge" style="background-color: #C33764">0</span></td>
              <td>
                <% @positions.where("employees.id =?", employee).each do |p| %>
                    <div class="row"><%= p.employee_type_desc %></div>
                <% end %>
              </td>
              <td><div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
                <ul class="dropdown-menu"><li><%= link_to 'Delete', employee_path(employee, type: :normal),method: :delete,class: ' ', data: { confirm: 'Remove this employee?' } %></li></ul>
              </div></td>
            </tr>
        <% end %>
        </tbody>

      </table>
    </div>

    <div class="row text-center">
      <% if @employees.length > 0 && @employees.total_pages > 1 %>
          <%= will_paginate @employees, renderer: BootstrapPagination::Rails, :param_name => 'employee_page' %>
          <div class="page_info">
            <%= page_entries_info @employees %>
          </div>
      <% end %>
    </div>
  </div>
</div>
