<div class="imaginary_container">
  <table class="table table-hover text-center">
    <thead>
    <tr class="text-wrap">
      <th class="col-lg-3 text-center">Event</th>
      <th class="col-lg-1 text-center">Date</th>
      <th class="col-lg-2 text-center">Time</th>
      <th class="col-lg-1 text-center">Kids</th>
      <th class="col-lg-1 text-center">Adults</th>
      <th class="col-lg-1 text-center">Visitors</th>
      <th class="col-lg-1 text-center">Event Size</th>
      <th class="col-lg-2 text-center">Co-Host</th>
    </tr>
    </thead>

    <tbody>
    <h4 class="text-right view-more">
      <%= link_to 'view all', employees_all_assignments_path(employee: @employee.id) %>
    </h4>
    <% running_total = 0 %>
    <% @past_assignments.each do |h| %>
        <% running_total = running_total + (h.number_in_party - h.kids_painting - h.adults_painting) %>
        <tr class="no-pointer">
          <td><%= h.event_name %></td>
          <td><%= h.event_date.strftime("%m/%d/%y") %></td>
          <td><%= h.start_time.strftime("%l:%M %p") %> - <%= h.end_time.strftime("%l:%M %p") %></td>
          <td><%= h.kids_painting %></td>
          <td><%= h.adults_painting %></td>
          <td><%= running_total %></td>
          <td><%= h.number_in_party %></td>
          <td>
            <% if @co_host.where("events.id = ?", h.event_id).any? %>
                <% @co_host.where("events.id = ?", h.event_id).each do |e| %>
                    <div class="row">
                      <%= e.first_name %> <%= e.last_name %>
                    </div>
                <% end %>
            <% else %>
                None
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>