<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Picked-Up (Last 30 Days)</h2>
  </div>
  <div class="panel-body">
    <div class="imaginary_container">
      <table class="table table-hover text-center">
        <thead>
        <tr class="wrap-text">
          <th class="text-center">Customer</th>
          <th class="text-center">Phone</th>
          <th class="text-center">Product</th>
          <th class="text-center">Quantity</th>
          <th class="text-center">Event Color</th>
          <th class="text-center">Event</th>
          <th class="text-center">Picked-Up At</th>
          <th class="text-center">Status</th>
        </tr>
        </thead>

        <tbody>
        <% @picked.each do |customer_event_product| %>
            <tr class="no-pointer">
              <td><%= customer_event_product.first_name %> <%= customer_event_product.last_name %></td>
              <td><%= number_to_phone(customer_event_product.phone, area_code: true) %></td>
              <td><%= customer_event_product.product_name %></td>
              <td><%= customer_event_product.quantity %></td>
              <td><span class="simplecolorpicker icon color-picked" style= "background-color: <%= customer_event_product.color_code %>;"></span></td>
              <td><%= customer_event_product.event_name %></td>
              <td><%= customer_event_product.updated_at.strftime("%m/%d/%Y %l:%M %p")%></td>
              <td>
                <%= form_for customer_event_product, :url => url_for(:controller => 'customer_event_products', :action => :picked_tab_update, :id => customer_event_product.id), :method => "patch" do |f| %>
                    <%= f.collection_select(:pickup_status_id, PickupStatus.all, :id, :pickup_status_desc, {}, {class: "form-control", onchange: "this.form.submit();"}) %>
                <% end %>
              </td>
            </tr>
        <% end %>
        </tbody>

      </table>
    </div>
  </div>
</div>