<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Not Ready for Pick-Up</h2>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <% if @n_ready.length > 0 && @n_ready.total_pages > 1 %>
            <%= render 'search' %>
        <% end %>
      </div>
    </div>

    <div class="imaginary_container">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Customer</th>
          <th>Phone</th>
          <th>Product</th>
          <th>Quantity</th>
          <th>Color</th>
          <th>Event</th>
          <th>Date</th>
          <th>Status</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <% @n_ready.each do |customer_event_product| %>
            <tr>
              <td><%= customer_event_product.customer_event.customer.full_name %></td>

              <td><%= number_to_phone(customer_event_product.customer_event.customer.phone, area_code: true) %></td>
              <td><%= customer_event_product.product.product_name %></td>
              <td><%= customer_event_product.quantity %></td>
              <td><span class="simplecolorpicker icon color-picked" style= "background-color: <%= customer_event_product.customer_event.event.color.color_code %>;"></span></td>
              <td><%= customer_event_product.customer_event.event.event_name %></td>
              <td><%= customer_event_product.customer_event.event.event_date.strftime("%m/%d/%Y") %> <%= customer_event_product.customer_event.event.start_time.strftime("%l:%M %p")%></td>
              <td>
                <%= form_for customer_event_product do |f| %>
                    <%= f.collection_select(:pickup_status_id, PickupStatus.all, :id, :pickup_status_desc,{}) %>
                   <%= f.submit 'Save' %>
                <% end %>
              </td>
            </tr>
        <% end %>
        </tbody>

      </table>
    </div>

    <div class="row text-center">
      <% if @n_ready.length > 0 && @n_ready.total_pages > 1 %>
          <%= will_paginate @n_ready, renderer: BootstrapPagination::Rails, :param_name => 'progress_page' %>
          <div class="page_info">
            <%= page_entries_info @n_ready %>
          </div>
      <% end %>
    </div>
  </div>
</div>