<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Ready for Pick-Up (Hold For Only 6 Months)</h2>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <% if @ready.length > 0 && @ready.total_pages > 1 %>
            <%= render 'search' %>
        <% end %>
      </div>
    </div>

    <div class="imaginary_container">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Customer</th>
          <th>Phone</th>
          <th>Product</th>
          <th>Quantity</th>
          <th>Color</th>
          <th>Event</th>
          <th>Date</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <% @ready.each do |customer_event_product| %>
            <tr>
              <td><%= customer_event_product.customer_event.customer.full_name %></td>

              <td><%= number_to_phone(customer_event_product.customer_event.customer.phone, area_code: true) %></td>
              <td><%= customer_event_product.product.product_name %></td>
              <td><%= customer_event_product.quantity %></td>
              <td><span class="simplecolorpicker icon color-picked" style= "background-color: <%= customer_event_product.customer_event.event.color.color_code %>;"></span></td>
              <td><%= customer_event_product.customer_event.event.event_name %></td>
              <td><%= customer_event_product.customer_event.event.event_date.strftime("%m-%d-%Y") %> at <%= customer_event_product.customer_event.event.start_time.strftime("%l:%M %p")%></td>
            </tr>
        <% end %>
        </tbody>

      </table>
    </div>

    <div class="row text-center">
      <% if @ready.length > 0 && @ready.total_pages > 1 %>
          <%= will_paginate @ready, renderer: BootstrapPagination::Rails, :param_name => 'ready_page' %>
          <div class="page_info">
            <%= page_entries_info @ready %>
          </div>
      <% end %>
    </div>
  </div>
</div>