<!-- Nav index -->
<ul class="nav nav-tabs text-center" role="tablist">
  <li class="tab-header"><h1  class="tab-spacing"><%= link_to 'Pick-Up', pickups_path, style: "color: #C33764" %></h1></li>
  <li role="presentation" class="active"><a href="#progress" role="tab" data-toggle="tab">
    <span class="glyphicon glyphicon-fire" style="color: #d9534f"></span>
    <br>
    In-Progress
    <% if @progress_count.any? %>
        <span class="badge" style="background-color: #d9534f"><%= @progress_count.count %></span>
    <% else %>
        <span class="badge" style="background-color: #d9534f">0</span>
    <% end %>
  </a></li>
  <li role="presentation"><a href="#ready" role="tab" data-toggle="tab" onClick="reload">
    <span class="glyphicon glyphicon-gift" style="color: #f0ad4e"></span>
    <br>
    Ready
    <% if @ready_count.any? %>
        <span class="badge" style="background-color: #f0ad4e"><%= @ready_count.count %></span>
    <% else %>
        <span class="badge">0</span>
    <% end %>
  </a></li>
  <li role="presentation"><a href="#picked_up" role="tab" data-toggle="tab" onClick="reload">
    <span class="glyphicon glyphicon-ok-circle" style="color: #5cb85c"></span>
    <br>
    Picked-Up
    <% if @picked_up_count.any? %>
        <span class="badge" style="background-color: #5cb85c"><%= @picked_up_count.count %></span>
    <% else %>
        <span class="badge" style="background-color: #5cb85c">0</span>
    <% end %>
  </a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="progress"><%= render 'progress' %></div>
  <div role="tabpanel" class="tab-pane" id="ready"><%= render 'ready' %></div>
  <div role="tabpanel" class="tab-pane" id="picked_up"><%= render 'picked_up' %></div>
</div>

<!--adds tab href to url + opens tab based on hash on page load:-->
<script>
    <!--Returns you back to the current tab you are on, on refresh of page-->
    $(document).ready(function() {
        if (location.hash) {
            $("a[href='" + location.hash + "']").tab("show");
        }
        $(document.body).on("click", "a[data-toggle]", function(event) {
            location.hash = this.getAttribute("href");
        });
    });
    $(window).on("popstate", function() {
        var anchor = location.hash || $("a[data-toggle='tab']").first().attr("href");
        $("a[href='" + anchor + "']").tab("show");
    });

    window.onload = function() {
        if(!window.location.hash) {
            window.location = window.location + '#loaded';
            window.location.reload();
        }
    }
</script>
