<%= form_for(state) do |f| %>
  <% if state.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(state.errors.count, "error") %> prohibited this state from being saved:</h2>

      <ul>
      <% state.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div style="margin-left:50px;width:200px;">
    <div class="table">
      <%= f.label :state_name %>
      <div class="row"> <%= f.text_field :state_name, class: 'form-control' %></div>
    </div>

    <div class="table">
      <%= f.label :state_abbrev %>
      <div class="row"><%= f.text_field :state_abbrev, class: 'form-control' %></div>
    </div>

  </div>

    <div class="row footer">

      <div class="col-lg-4 text-left">
        <%= f.submit class: "btn btn-primary", redirect_to: '/admin#locations_tab' %>
      </div>
    </div>
<% end %>
