<div class="panel panel-default shadow-pane" style="float:left;width:500px;margin-top:10px;margin-right:25px;">
  <div class="panel-heading">
    <h2 class="panel-title">States</h2>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-0">

      </div>
      <div class="col-lg-1 col-lg-offset-2">
        <%= render 'states/index/buttons' %>
      </div>
    </div>

    <div class="imaginary_container">
      <table class="sctable">
        <thead class="sctable">
        <tr>
          <th class="col-lg-5">State Name</th>
          <th class="col-lg-5">State Abbrev.</th>
          <th class="col-lg-5">Action</th>
        </tr>
        </thead>

        <tbody class="sctable">
        <% @states.each do |state| %>
            <div class="row">
              <tr class="sctable" data-link="<%= state_path(state) %>">
                <td class="col-lg-5"><%= state.state_name %></td>
                <td class="col-lg-5"><%= state.state_abbrev %></td>
                <td class="col-lg-5 col-lg-offset-1"><div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><%= link_to 'Edit', edit_state_path(state) %></li>
                    <li><%= link_to 'Delete', state_path(state, type: :normal),method: :delete,class: ' ', data: { confirm: 'Are you sure?' } %></li>
                  </ul>
                </div></td>
              </tr>
            </div>

        <% end %>
        </tbody>
      </table>
    </div>

    <div class="row text-center">
      <!--< if @states.length > 0 && @states.total_pages > 1 %>-->
          <!--<= will_paginate @states, inner_window: 1, outer_window:1,renderer: BootstrapPagination::Rails, :param_name => 'state_page' %>-->
          <!--<div class="page_info">-->
            <!--<= page_entries_info @states %>-->
          <!--</div>-->
      <!--< end %>-->
    </div>
  </div>
</div>



  <!--<div class="imaginary_container">-->
    <!--<h1>States</h1>-->

    <!---->
  <!--</div>-->
  <!--<br>-->

  <!---->

 <!---->
<!--</div>-->