<div class="panel panel-default shadow-pane" style="float:left;width:500px;margin-top:25px">
  <div class="panel-heading">
    <h2 class="panel-title">States</h2>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <%= render 'customers/index/search' %>
      </div>
    </div>
    <div> <%= render 'states/index/buttons' %></div>
    <div class="imaginary_container">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>State name</th>
          <th>State abbrev</th>
          <th colspan="3"></th>
        </tr>
        </thead>

        <tbody>
        <% @states.each do |state| %>
            <tr data-link="<%= state_path(state) %>">
              <td><%= state.state_name %></td>
              <td><%= state.state_abbrev %></td>
              <td><div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Detail', state %></li>
                  <li><%= link_to 'Edit', edit_state_path(state) %></li>
                  <li><%= link_to 'Archive', state_path(state, type: :normal),method: :delete,class: ' ', data: { confirm: 'Are you sure?' } %></li>
                </ul>
              </div></td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <%= link_to 'New State', new_state_path %>
    </div>

    <div class="row text-center">
      <% if @states.length > 0 && @states.total_pages > 1 %>
          <%= will_paginate @states, renderer: BootstrapPagination::Rails, :param_name => 'state_page' %>
          <div class="page_info">
            <%= page_entries_info @states %>
          </div>
      <% end %>
    </div>
  </div>
</div>



  <!--<div class="imaginary_container">-->
    <!--<h1>States</h1>-->

    <!---->
  <!--</div>-->
  <!--<br>-->

  <!---->

 <!---->
<!--</div>-->