<p id="notice"><%= notice %></p>

<h1>Employee Events</h1>

<table>
  <thead>
    <tr>
      <th>Employee</th>
      <th>Event</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employee_events.each do |employee_event| %>
      <tr>
        <td><%= employee_event.employee_id %></td>
        <td><%= employee_event.event_id %></td>
        <td><%= link_to 'Show', employee_event %></td>
        <td><%= link_to 'Edit', edit_employee_event_path(employee_event) %></td>
        <td><%= link_to 'Destroy', employee_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee Event', new_employee_event_path %>
