<% visitor =  @customer_event.number_in_party - (@customer_event.kids_painting + @customer_event.adults_painting) %>

<div class="panel pane-default shadow-pane parent">

  <div class="row text-center"><div class="col-lg-10 col-lg-offset-1">
    <h4><%= @customer_event.customer.first_name %> <%= @customer_event.customer.last_name %></h4>
  </div></div>

  <br>

  <div class="row text-center">
    <div class="col-lg-2 col-lg-offset-2" data-toggle="tooltip" data-placement="top" title="Kids Painting: <%= @customer_event.kids_painting %>">
      <strong>K</strong>
      <%= @customer_event.kids_painting %>
    </div>
    <div class="col-lg-2 text-center" data-toggle="tooltip" data-placement="top" title="Adults Painting: <%= @customer_event.adults_painting %>">
      <strong>A</strong>
      <%= @customer_event.adults_painting %>
    </div>
    <div class="col-lg-2 text-center" data-toggle="tooltip" data-placement="top" title="Visitors: <%= visitor %>">
      <strong>V</strong>
      <%= visitor %>
    </div>
    <div class="col-lg-2 text-center" data-toggle="tooltip" data-placement="top" title="Total in Party: <%= @customer_event.number_in_party %>">
      <strong>T</strong>
      <%= @customer_event.number_in_party %>
    </div>
  </div>

</div>