<%= form_for @customer_event_product ,url: create_product_path do |f| %>
    <%= f.hidden_field(:customer_event_id, value: @customer_event.id) %>

    <div class="col-lg-3 col-lg-offset-1">
      <%= f.collection_select(:product_id, Product.all.order(:product_name), :id, :product_name, {prompt: "Select Product"}, {class: "form-control"}) %>
    </div>

    <div class="col-lg-2">
      <%= f.number_field :quantity, class: "form-control", placeholder: "Quantity" %>
    </div>

    <div class="col-lg-1">
      <%= button_tag(type: 'submit', class: "btn btn-md btn-default") do %>Add <span class="glyphicon glyphicon-plus" style="color: seagreen"></span><% end %>
    </div>
<% end %>