<%= form_for @customer_event, :url => create_customer_event_path, :html => {:method => :post} do |f| %>
    <% if @customer_event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@customer_event.errors.count, "error") %> prohibited this customer_event from being saved:</h2>

          <ul>
            <% @customer_event.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row"><h4 class="col-lg-10 col-lg-offset-1">Phone</h4></div>

    <div class="row">
      <div class="col-lg-4">
        <%= f.text_field :phone %>
      </div>
    </div>

    <br><div class="row"><h4 class="col-lg-10 col-lg-offset-1">Event</h4></div>

    <div class="row">
      <div class="col-lg-4"><%= f.collection_select(:event_id, Event.all, :id, :event_name, {prompt: "Event"}, {class: "form-control"}) %></div>
    </div>

    <br><div class="row"><h4 class="col-lg-10 col-lg-offset-1">Kids</h4></div>

    <div class="row">
      <div class="col-lg-4"><%= f.text_field :kids_painting %></div>
    </div>

    <br><div class="row"><h4 class="col-lg-10 col-lg-offset-1">Adults</h4></div>

    <div class="row">
      <div class="col-lg-4"><%= f.text_field :adults_painting %></div>
    </div>

    <br><div class="row"><h4 class="col-lg-10 col-lg-offset-1">Party Size</h4></div>

    <div class="row">
      <div class="col-lg-4"><%= f.text_field :number_in_party %></div>
    </div>

    <br><div class="row"><h4 class="col-lg-10 col-lg-offset-1">Deposit</h4></div>


    <br>

    <div class="row footer">
      <div class="col-lg-3 col-lg-offset-5 text-right">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
      <div class="col-lg-4 text-left">
        <%= f.submit "Create Walk-In", class: "btn btn-primary", id: "submit" %>
      </div>
    </div>

<% end %>

<script>
    $(document).ready(function(){
        $('#customer_event_phone').autocomplete({
            source: ["apple", "apricot", "avocado"]
        });
    });
</script>