<p id="notice"><%= notice %></p>

<% taxes = 0 %>
<% customer_total = 0 %>
<% event_total = 0 %>
<% total_kids = 0 %>
<% total_adults = 0 %>
<% total_party = 0 %>

<div class="page-header">
  <div class="row">
    <div class="col-lg-8">
      <h1><%= @event.event_name %></h1>
    </div>

    <div class="col-lg-3">
      <%= render 'events/show/buttons' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="well">
      <div class="row">
        <div class="col-lg-5">
          <p><strong>Category</strong></p>
          <div class="inline-paragraph"><%= @event.event_type.event_type_desc %></div>
          <br>
          <p><strong>Event Color</strong></p>
          <span class="simplecolorpicker icon color-circle" style="background-color: <%= @event.color.color_code %>;"></span>
        </div>

        <div class="col-lg-5 col-lg-offset-2">
          <p><strong>Date</strong></p>
          <div class="inline-paragraph"><%= @event.event_date.strftime("%B %-d, %Y") %></div>
          <br>
          <p><strong>Time</strong></p>
          <div class="inline-paragraph"><%= @event.start_time.strftime("%l:%M %p") %> - <%= @event.end_time.strftime("%l:%M %p") %></div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <p class="note-header"><strong>Description</strong></p>
          <% if @event.event_description.blank? %>
              <div class="note-body">No Notes...</div>
          <% else %>
              <div class="note-body"><%= @event.event_description %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <h3 style="color: #C33764">Hosts</h3>
    <div class="row">
      <div class="col-lg-3"><h4>Add Hosts:</h4></div>
      <%= render 'events/show/hosts_form' %>
    </div>

    <br>

    <% @hosts.each do |h| %>
        <%= link_to employee_event_path(h, type: :normal),method: :delete, data: { confirm: 'Remove host?' }, class: 'btn btn-default btn-lg show-btn line-up' do %>
            <span class="glyphicon glyphicon-remove-sign" style="color: red"></span>
            <%= h.first_name %> <%= h.last_name %>
        <% end %>
    <% end %>
  </div>
</div>

<h2>Customers</h2>

<div class="row">
  <%= render 'events/show/customers_form' %>
</div>

<br>

<table class="table table-hover text-center">
  <thead>
  <tr class="text-wrap">
    <th class="col-lg-3 text-center">Name</th>
    <th class="col-lg-1 text-center">Kids painting</th>
    <th class="col-lg-1 text-center">Adults painting</th>
    <th class="col-lg-1 text-center">Visitors</th>
    <th class="col-lg-1 text-center">Number in party</th>
    <th class="col-lg-2 text-center">Customer Total</th>
    <th class="col-lg-1 text-center">Action</th>
  </tr>
  </thead>
  <tbody id="customer_events">
  <% @customer_events.each do |customer_event| %>
      <% total_kids = total_kids + customer_event.kids_painting %>
      <% total_adults = total_adults + customer_event.adults_painting %>
      <% total_party = total_party + customer_event.number_in_party %>
      <% visitor =  customer_event.number_in_party - (customer_event.kids_painting + customer_event.adults_painting) %>
      <tr data-link="<%= customer_event_path(customer_event) %>" class="clickable-row" id="customer_event_<%= customer_event.id %>">
        <td><%= customer_event.first_name %> <%= customer_event.last_name %></td>
        <td><%= customer_event.kids_painting %></td>
        <td><%= customer_event.adults_painting %></td>
        <td><%= visitor %></td>
        <td><%= customer_event.number_in_party %></td>
        <td>
          <% @customer_total.where("customer_events.id = ?", customer_event).each do |t| %>
              <% studio_fee = (customer_event.kids_painting.to_i * 5) + (customer_event.adults_painting.to_i * 6) %>
              <% customer_total = t.sales.to_f + studio_fee %>
              <% taxes = (customer_total * 825)/10000 %>
              <% event_total = event_total + customer_total + taxes %>
          <% end %>
          <%=  number_to_currency(customer_total + taxes) %>
        </td>
        <td><div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><%= link_to 'Delete', customer_event_path(customer_event, type: :normal),method: :delete,class: ' ', data: { confirm: 'Remove this customer?' } %></li>
          </ul>
        </div></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<div class="row text-wrap">
  <div class="col-lg-2 col-lg-offset-3 text-center k-party">Total Kids</div>
  <div class="col-lg-2">Total Adults</div>
  <div class="col-lg-1 text-right p-title">Event Size</div>
  <div class="col-lg-2 text-right e-title"><h4>Event Total:</h4></div>
</div>

<br>

<div class="row">
  <div class="col-lg-2 col-lg-offset-3 text-center k-party"><%= total_kids %></div>
  <div class="col-lg-2 a-party"><%= total_adults %></div>
  <div class="col-lg-1 text-right p-party"><%= total_party %></div>
  <div class="col-lg-1 col-lg-offset-1 text-center e-total"><h3 class=""><%= number_to_currency(event_total) %></h3></div>
</div>


