<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Customer</h2>
  </div>
  <div class="panel-body">

    <div class="row">
      <div class="imaginary_container">

        <div class="col-lg-8 col-lg-offset-1">
          <div class="input-group stylish-input-group">
            <input type="text" class="form-control" placeholder="Search">
            <span class="input-group-addon">
                    <button type="submit">
                      <span class="glyphicon glyphicon-search"></span>
                    </button>
                  </span>
          </div>
        </div>

        <div class="col-lg-1 col-lg-offset-1">
          <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#newModal">
            <span class="glyphicon glyphicon-plus"></span>
            <br>
            New Customer
          </button>
        </div>

      </div>
    </div>

    <div class="imaginary_container">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Phone</th>
          <th>Email</th>
        </tr>
        </thead>

        <tbody>
        <% @customers.each do |customer| %>
            <tr data-link="<%= customer_path(customer) %>">
              <td><%= customer.first_name %></td>
              <td><%= customer.last_name %></td>
              <td><%= number_to_phone(customer.phone, area_code: true) %></td>
              <td><%= customer.email %></td>
            </tr>
        <% end %>
        </tbody>

      </table>
    </div>

    <div class="row">
      <div class="col-lg-4 col-lg-offset-4">
        <%= will_paginate @customers %>
      </div>
    </div>

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="newEmployeeLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="newCustomerLabel">New Customer</h4>
      </div>
      <div class="modal-body">
        <%= render 'form', customer: @customer %>
      </div>
    </div>
  </div>
</div>