<%= form_for(customer) do |f| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="row"><h4 class="col-lg-10 col-lg-offset-1">Name</h4></div>

    <div class="row">
      <div class="col-lg-4 col-lg-offset-1"><%= f.text_field :first_name, placeholder: "First Name", class: "form-control" %></div>
      <br>
      <div class="col-lg-6"><%= f.text_field :last_name, placeholder: "Last Name", class: "form-control" %></div>
    </div>

    <br><div class="row"><h4 class="col-lg-10 col-lg-offset-1">Address</h4></div>

    <div class="row"><div class="col-lg-10 col-lg-offset-1"><%= f.text_field :address, placeholder: "Address", class: "form-control" %></div></div>

    <br>

    <div class="row">
      <div class="col-lg-5 col-lg-offset-1"><%= f.text_field :city, placeholder: "City", class: "form-control" %></div>
      <br>
      <div class="col-lg-4 col-lg-offset-1"><%= f.number_field :state_id, placeholder: "State/Province", class: "form-control" %></div>
    </div>

    <br>

    <div class="row"><div class="col-lg-3 col-lg-offset-1"><%= f.text_field :zipcode, placeholder: "Postal Code", class: "form-control" %></div></div>

    <br>

    <div class="row"><div class="col-lg-5 col-lg-offset-1"><%= f.number_field :country_id, placeholder: "Country", class: "form-control" %></div></div>

    <br>

    <div class="row">
      <h4 class="col-lg-4 col-lg-offset-1">Phone/Email</h4>
    </div>

    <div class="row">
      <div class="col-lg-4 col-lg-offset-1"><%= f.text_field :phone, placeholder: "Phone Number", class: "form-control" %></div>
      <br>
      <div class="col-lg-6"><%= f.text_field :email, placeholder: "Email", class: "form-control" %></div>
    </div>

    <br><div class="row"><h4 class="col-lg-10 col-lg-offset-1">Notes</h4></div>

    <div class="row">
      <div class="col-lg-10 col-lg-offset-1"><%= f.text_area :comment, rows: "4", class: "form-control" %></div>
    </div>

    <hr>

    <div class="row">
      <div class="actions col-lg-offset-7">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <%= f.submit class: "btn btn-primary" %>
      </div>
    </div>
<% end %>
