<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Colors</h2>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-1">

      </div>

      <div class="col-lg-1 col-lg-offset-1">
        <%= render 'colors/index/buttons'%>
      </div>
    </div>

    <div class="imaginary_container">

        <% @colors.each do |color| %>
          <div style="float:left;margin-left:30px;margin-right:30px;margin-bottom:30px;">
            <div style="background-color:<%= color.color_code %>;height:100px;width:100px;border-radius:25px;margin-left:15px;">
              <h1 style="text-align:center;padding-top:30px;color:ghostwhite;text-shadow: 2px 2px 4px #000000;"><%= color.color_name %></h1>
            </div>
            <tr data-link="<%= color_path(color) %>">
              <h3 style="text-shadow: 2px 2px 4px gainsboro;"><%= color.color_code %></h3>
              <td><div class="dropdown" style="margin-left:100px;margin-top:-40px;">
                <button class="btn btn-default dropdown-toggle"
                        type="button"
                        data-toggle="dropdown"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Edit', edit_color_path(color) %></li>
                  <% if color.id  == 26  %>
                  <p></p>
                  <% else %>
                      <li><%= link_to 'Delete', color_path(color, type: :normal),
                                      method: :delete,class: ' ', data: { confirm: 'Are you sure?' },
                                      redirect_to: '/admin#colors_tab' %></li>
                  <% end %>
                </ul>
              </div></td>
            </tr>
          </div>

        <% end %>
    </div>
  </div><br>
</div>
<script type="text/javascript">

    //        window.location="/admin#colors_tab";

</script>