<div class="imaginary_container">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Event Color</th>
      <th>Event</th>
      <th>Date Created</th>
      <th>Status</th>
    </tr>
    </thead>

    <tbody>
    <% @ready.each do |r| %>
        <tr>
          <td><%= r.product_name %></td>
          <td><%= r.quantity %></td>
          <td><span class="simplecolorpicker icon color-picked" style="background-color: <%= r.color_code %>;"></span></td>
          <td><%= r.event_name %></td>
          <td><%= r.event_date.strftime("%-m/%-d/%y") %></td>
          <td><div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li>In-Progress</li>
              <li>Ready</li>
              <li>Collected</li>
            </ul>
          </div></td>
        </tr>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>