<div class="imaginary_container">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Event Color</th>
      <th>Event</th>
      <th>Date Created</th>
      <th>Status</th>
    </tr>
    </thead>

    <tbody>
    <% @collected.each do |c| %>
        <tr>
          <td><%= c.product_name %></td>
          <td><%= c.quantity %></td>
          <td><span class="simplecolorpicker icon color-picked" style="background-color: <%= c.color_code %>;"></span></td>
          <td><%= c.event_name %></td>
          <td><%= c.event_date.strftime("%-m/%-d/%y") %></td>
          <td>
            <%= form_for c, :url => 'update_pickup_status',:html=>{:id=>'pickup'} do |f| %>
                <%= f.collection_select(:pickup_status_id, PickupStatus.all, :id, :pickup_status_desc, {class: "form-control"}) %>
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>