<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Recent Transactions</h2>
  </div>
  <div class="panel-body">

      <table class="table table-hover text-center">
        <thead>
        <tr class="text-wrap">
          <th class="col-lg-5 text-center">Event</th>
          <th class="col-lg-2 text-center">Event Color</th>
          <th class="col-lg-2 text-center">Event Date</th>
          <th class="col-lg-3 text-center">Total</th>
        </tr>
        </thead>

        <tbody>
        <h4 class="text-right view-more">
          <%= link_to 'view more', customers_all_transactions_path %>
        </h4>
        <% @transactions.each do |t| %>
            <tr data-link="<%= customer_event_path(t) %>" class="clickable-row">
              <td><%= t.event_name %></td>
              <td><span class="simplecolorpicker icon color-picked" style="background-color: <%= t.color_code %>;"></span></td>
              <td><%= t.event_date.strftime("%m/%d/%y") %></td>
              <td>
                <% studio_fee = (t.kids_painting.to_i * 5) + (t.adults_painting.to_i * 6) %>
                <% customer_total = t.sales.to_f + studio_fee %>
                <% taxes = (customer_total * 825)/10000 %>
                <%= number_to_currency(customer_total + taxes) %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>

  </div>
</div>
