<div class="panel panel-default shadow-pane">
  <div class="panel-heading">
    <h2 class="panel-title">Check-In</h2>
  </div>
  <div class="panel-body">

    <div class="imaginary_container">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>First name</th>
          <th>Last name</th>
          <th>Time</th>
          <th>Event</th>
          <th>Party Size</th>
        </tr>
        </thead>

        <tbody>
        <% @check_in.each do |check_in| %>
            <tr>
              <td><%= check_in.customer.first_name %></td>
              <td><%= check_in.customer.last_name %></td>
              <td><%= check_in.event.start_time.strftime("%l:%M %p") %> - <%= check_in.event.end_time.strftime("%l:%M %p") %></td>
              <td><%= check_in.event.event_name %></td>
              <td><%= check_in.number_in_party %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>