<div class="panel panel-default shadow-pane">
  <div class="panel-heading">
    <h2 class="panel-title">Unpaid Dues</h2>
  </div>
  <div class="panel-body">

    <div class="imaginary_container">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Name</th>
          <th>Phone</th>
          <th>Due Date</th>
          <th>Event</th>
          <th>Dues</th>
          <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <% @dues.each do |dues| %>
            <tr data-toggle="collapse" data-target="#accordion" class="clickable">
              <td><%= dues.customer.first_name %> <%= dues.customer.last_name %></td>
              <td><%= number_to_phone(dues.customer.phone, area_code: true) %></td>
              <td><%= dues.event.event_date.strftime("%-m/%-d") %></td>
              <td><%= dues.event.event_name %></td>
              <td></td>
              <td><div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li>Paid</li>
                  <li>Cancel</li>
                </ul>
              </div></td>
            </tr>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>