<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="panel text-center shadow-pane event-list">
      <div class="panel-heading month">
        <div class="row"><h3><%= Date.today.strftime("%b %Y") %></h3></div>
      </div>
      <div class="panel-body date">
        <div class="row"><%= Date.today.strftime("%e") %></div>
      </div>
    </div>
  </div>
</div>

<% @event_list.each do |event_list| %>
    <% running_total =  event_list.number_in_party - (event_list.kids_painting + event_list.adults_painting) %>
    <div class="panel pane-default shadow-pane parent">

      <div class="child" style="background-color: <%= event_list.color_code %>"></div>

      <div>
        <br>
        <div class="row">
          <div class="col-lg-4 text-center">
            <h3><%= event_list.start_time.strftime("%l:%M") %></h3>
            <h3><%= event_list.start_time.strftime("%p") %></h3>
          </div>

          <div class="col-lg-8">
            <div class="row"><h3><%= event_list.event_name %></h3></div>
            <div class="row"><h5><%= event_list.event_type_desc %></h5></div>
            <br>
            <div class="row">
              <div class="col-lg-2 text-center" data-toggle="tooltip" data-placement="top" title="Kids Painting: <%= event_list.kids_painting %>">
                <span class="glyphicon glyphicon-user"></span>
                <%= event_list.kids_painting %>
              </div>
              <div class="col-lg-2 text-center" data-toggle="tooltip" data-placement="top" title="Adults Painting: <%= event_list.adults_painting %>">
                <span class="glyphicon glyphicon-user"></span>
                <%= event_list.adults_painting %>
              </div>
              <div class="col-lg-2 text-center" data-toggle="tooltip" data-placement="top" title="Visitors: <%= running_total %>">
                <span class="glyphicon glyphicon-user"></span>
                <%= running_total %>
              </div>
              <div class="col-lg-2 text-center" data-toggle="tooltip" data-placement="top" title="Total in Party: <%= event_list.number_in_party %>">
                <span class="glyphicon glyphicon-user"></span>
                <%= event_list.number_in_party %>
              </div>
            </div>
          </div>
        </div>
        <br>
      </div>

    </div>
<% end %>

<div class="row text-center">
  <% if @event_list.length > 0 && @event_list.total_pages > 1 %>
      <%= will_paginate @event_list, renderer: BootstrapPagination::Rails, :param_name => 'event_list_page', :page_links => false %>
  <% end %>
</div>

