<%= form_for(event_type) do |f| %>
  <% if event_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event_type.errors.count, "error") %> prohibited this event_type from being saved:</h2>

      <ul>
      <% event_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= 'Event Type Name:' %>
    <br>
    <div style="width:300px;"><%= f.text_field :event_type_desc,class: "form-control" %></div>
  </div>
  <br>
    <div class="row footer">
      <div>
        <%= f.submit class: "btn btn-primary" %>
      </div>
    </div>
<% end %>
