<%= form_for(country) do |f| %>
  <% if country.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(country.errors.count, "error") %> prohibited this country from being saved:</h2>

      <ul>
      <% country.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :country_name %>
    <%= f.text_field :country_name %>
  </div>

  <div class="field">
    <%= f.label :country_abbrev %>
    <%= f.text_field :country_abbrev %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
    <div class="row footer">
      <div class="col-lg-3 col-lg-offset-5 text-right">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
      <div class="col-lg-4 text-left">
        <%= f.submit class: "btn btn-primary" %>
      </div>
    </div>
<% end %>
