<%= form_for(employee_type) do |f| %>
  <% if employee_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee_type.errors.count, "error") %> prohibited this employee_type from being saved:</h2>

      <ul>
      <% employee_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Enter a new Employee Type' %>
    <div style="width:200px"><%= f.text_field :employee_type_desc, class: 'form-control' %>
    </div>

  </div>

    <br>
    <div class="row footer">
      <div class="col-lg-3 col-lg-offset-5 text-right">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
      <div class="col-lg-4 text-left">
        <%= f.submit class: "btn btn-primary"  %>
      </div>
    </div>
<% end %>
