<p id="notice"><%= notice %></p>

<p>
  <strong>Employee type desc:</strong>
  <%= @employee_type.employee_type_desc %>
</p>
<div class="row">
  <div class="col-lg-2"><h4>Add Hosts:</h4></div>
  <%= render 'employee_types/show/positions_form' %>
</div>

<br>

<div class="row">
  <% @employee_types.each do |h| %>
      <div class="col-lg-3 text-left">
        <%= button_to employee_event_path(h, type: :normal),method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-lg show-btn' do %>
            <span class="glyphicon glyphicon-remove-sign"></span>
            <%= h.first_name %> <%= h.last_name %>
        <% end %>
      </div>
  <% end %>
</div>

<%= link_to 'Edit', edit_employee_type_path(@employee_type) %> |
<%= link_to 'Back', employee_types_path %>
