<%= form_for @customer_event ,url: create_customer_event_path, :html => {:method => :post} do |f| %>
    <%= f.hidden_field(:event_id, value: @event.id) %>
    <div class="col-lg-3">
      <%= f.collection_select(:customer_id, Customer.all, :id, :full_name, {prompt: "Select Customer"}, {class: "form-control"}) %>
    </div>

    <div class="col-lg-1">
      <%= f.number_field :kids_painting, class: "form-control", placeholder: "Kids" %>
    </div>

    <div class="col-lg-1">
      <%= f.number_field :adults_painting, class: "form-control", placeholder: "Adult" %>
    </div>

    <div class="col-lg-2">
      <%= f.number_field :number_in_party, class: "form-control", placeholder: "Party Size" %>
    </div>

    <div class="col-lg-1">
      <%= button_tag(type: 'submit', class: "btn btn-md") do %>Add <span class="glyphicon glyphicon-plus"></span><% end %>
    </div>
<% end %>