<div class="row">
  <div class="col-lg-4 text-center">
    <%= link_to '<span class="glyphicon glyphicon-pencil"></span><br>Color'.html_safe, colors_path, class: "btn btn-primary btn-lg modal-btn", :method => :get %>
  </div>
  <div class="col-lg-4 text-center">
    <%= link_to '<span class="glyphicon glyphicon-globe"></span><br>Country'.html_safe, countries_path, class: "btn btn-primary btn-lg modal-btn", :method => :get %>
  </div>
  <div class="col-lg-4 text-center">
    <%= link_to '<span class="glyphicon glyphicon-th-list"></span><br>Customer Status'.html_safe, customer_statuses_path, class: "btn btn-primary btn-lg modal-btn", :method => :get %>
  </div>
</div>

<br>

<div class="row">
  <div class="col-lg-4 text-center">
    <%= link_to '<span class="glyphicon glyphicon-tasks"></span><br>Employee Status'.html_safe, employee_statuses_path, class: "btn btn-primary btn-lg modal-btn", :method => :get %>
  </div>
  <div class="col-lg-4 text-center">
    <%= link_to '<span class="glyphicon glyphicon-list"></span><br>Employee Type'.html_safe, employee_types_path, class: "btn btn-primary btn-lg modal-btn", :method => :get %>
  </div>
  <div class="col-lg-4 text-center">
    <%= link_to '<span class="glyphicon glyphicon-calendar"></span><br>Event Status'.html_safe, event_statuses_path, class: "btn btn-primary btn-lg modal-btn", :method => :get %>
  </div>
</div>

<br>

<div class="row">
  <div class="col-lg-4 text-center">
    <%= link_to '<span class="glyphicon glyphicon-calendar"></span><br>Event Type'.html_safe, event_types_path, class: "btn btn-primary btn-lg modal-btn", :method => :get %>
  </div>
  <div class="col-lg-4 text-center">
    <%= link_to '<span class="glyphicon glyphicon-tags"></span><br>Pickup Status'.html_safe, pickup_statuses_path, class: "btn btn-primary btn-lg modal-btn", :method => :get %>
  </div>
  <div class="col-lg-4 text-center">
    <%= link_to '<span class="glyphicon glyphicon-paperclip"></span><br>Position'.html_safe, positions_path, class: "btn btn-primary btn-lg modal-btn", :method => :get %>
  </div>
</div>

<br>

<div class="row">
  <div class="col-lg-4 text-center">
    <%= link_to '<span class="glyphicon glyphicon-bell"></span><br>Product'.html_safe, products_path, class: "btn btn-primary btn-lg modal-btn", :method => :get %>
  </div>
  <div class="col-lg-4 text-center">
    <%= link_to '<span class="glyphicon glyphicon-align-left"></span><br>Product Type'.html_safe, product_types_path, class: "btn btn-primary btn-lg modal-btn", :method => :get %>
  </div>
  <div class="col-lg-4 text-center">
    <%= link_to '<span class="glyphicon glyphicon-globe"></span><br>State'.html_safe, states_path, class: "btn btn-primary btn-lg modal-btn", :method => :get %>
  </div>
</div>