<%= form_for(product) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_name %>
    <div style="width:300px"><%= f.text_field :product_name,class:'form-control',placeholder:'Enter Product Name' %></div>
  </div>
  <br>
  <div class="field">
    <%= f.label :product_price %>
    <div style="width:300px">
      <%= f.number_field :product_price,class:'form-control',
                         step: 0.01,placeholder: '$0.00 decimals places will round up'  %></div>
  </div>
  <br>
    <div class="field">
      <%= f.label :product_type_id %>
      <div style="width:300px"><%= f.collection_select :product_type_id, ProductType.all, :id, :product_type_desc, {prompt: "Product Type"}, {class: "form-control"} %></div>
    </div>
      <br>

    <div class="row footer">
      <div >
        <%= f.submit class: "btn btn-primary" %>
      </div>
    </div>
<% end %>
