<%= form_for(product) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_name %>
    <%= f.text_field :product_name %>
  </div>

  <div class="field">
    <%= f.label :product_price %>
    <%= f.text_field :product_price %>
  </div>

  <div class="field">
    <%= f.label :product_type_id %>
    <%= f.collection_select :product_type_id, ProductType.all, :id, :product_type_desc %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>

    <div class="row footer">
      <div class="col-lg-3 col-lg-offset-5 text-right">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
      <div class="col-lg-4 text-left">
        <%= f.submit class: "btn btn-primary" %>
      </div>
    </div>
<% end %>
