<div class="panel panel-default" style="position:relative;width:600px;float:left;margin-top:25px">

  <div class="panel-heading">
    <h2 class="panel-title">Products</h2>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-7 col-lg-offset-0">
        <% if @products.length > 0 && @products.total_pages > 1 %>
        <div class="input-group stylish-input-group">
          <input type="text" class="form-control" placeholder="Search">
          <span class="input-group-addon">
                    <button type="submit">
                      <span class="glyphicon glyphicon-search"></span>
                    </button>
                  </span>
        </div>
            <% end %>
      </div>

      <div class="col-lg-1 col-lg-offset-1">
        <%= render 'products/index/buttons' %>
      </div>
    </div>

    <div class="imaginary_container">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Product Name</th>
          <th>Price</th>
          <th>Type</th>
          <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <% @products.each do |product| %>
            <tr data-link="<%= product_path(product) %>">
              <td><%= product.product_name %></td>
              <td><%= number_to_currency(product.product_price) %></td>
              <td><%= product.product_type.product_type_desc %></td>
              <td><div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Detail', product %></li>
                  <li><%= link_to 'Edit', edit_product_path(product) %></li>
                  <li><%= link_to 'Delete', product_path(product, type: :normal),method: :delete,class: ' ', data: { confirm: 'Are you sure?' } %></li>
                </ul>
              </div></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <div class="row text-center">
      <% if @products.length > 0 && @products.total_pages > 1 %>
          <%= will_paginate @products, inner_window:1,outer_window:1,renderer: BootstrapPagination::Rails, :param_name => 'product_page' %>
          <div class="page_info">
            <%= page_entries_info @products %>
          </div>
      <% end %>
    </div>
  </div>
</div>