<div class="imaginary_container">
  <div class="panel panel-defeault">
    <div class="panel panel-heading"><h4>Employees</h4>
    </div>
    <div class="panel panel-body">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <% @employees.only_deleted.each do |employee| %>
            <tr data-link="<%= employee_path(employee) %>" class="clickable-row">
              <td><%= employee.first_name %></td>
              <td><%= employee.last_name %></td>
              <td><%= number_to_phone(employee.phone, area_code: true) %></td>
              <td><%= employee.email %></td>
              <td><%= link_to 'Restore', employee_path(employee, type: :restore),method: :delete,
                              class: 'btn btm-mini btn-warning',
                              data: {
                                  confirm: 'Are you sure you want to restore ' + employee.first_name + ' ' + employee.last_name + '?'
                              }, redirect_to: '/employees' %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div><br></div>
  <div class="panel panel-defeault">
    <div class="panel panel-heading"><h4>Employee Types</h4>
    </div>
    <div class="panel panel-body">  <table class="table table-hover">
    <thead>
    <tr>
      <th>Employee Type</th>

      <th>Action</th>
    </tr>
    </thead>

    <tbody>
    <% @employee_types.only_deleted.each do |f| %>
        <tr data-link="<%= employee_path(f) %>" class="clickable-row">
          <td><%= f.employee_type_desc %></td>
          <td><%= link_to 'Restore', employee_type_path(f, type: :restore),method: :delete,
                          class: 'btn btm-mini btn-warning',
                          data: {
                              confirm: 'Are you sure you want to restore ' + f.employee_type_desc + '?'
                          }, redirect_to: '/employees' %></td>
        </tr>
    <% end %>
    </tbody>
    </table></div></div>
</div>