<!-- Nav index -->
<ul class="nav nav-tabs text-center" role="tablist">
  <li class="tab-header"><h1  class="tab-spacing", style="color: #C33764">Inactive</h1></li>
  <li role="presentation" class="active"><a href="#customers_tab1" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-user"></span><br>Customers</a></li>
  <li role="presentation"><a href="#products_tab1" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-tags"></span><br>Products</a>
  <li role="presentation"><a href="#employees_tab1" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-briefcase"></span><br>Employees</a></li>
  <li role="presentation"><a href="#colors_tab1" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-tint"></span><br>Colors</a></li>
  <li role="presentation"><a href="#event_types_tab1" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-adjust"></span><br>Event Types</a></li>

</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="customers_tab1"> <%= render 'archive/arccustomer' %></div>
  <div role="tabpanel" class="tab-pane" id="products_tab1"> <%= render 'archive/arcproduct' %></div>
  <div role="tabpanel" class="tab-pane" id="employees_tab1"> <%= render 'archive/arcemployee' %></div>
  <div role="tabpanel" class="tab-pane" id="colors_tab1"> <%= render 'archive/arccolor' %></div>
  <div role="tabpanel" class="tab-pane" id="event_types_tab1"> <%= render 'archive/arceventtype' %></div>
</div>
<script>



</script>