<p id="notice"><%= notice %></p>

<h1>Event Statuses</h1>

<table>
  <thead>
  <tr>
    <th>Event status desc</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @event_statuses.each do |event_status| %>
      <tr data-link="<%= event_status_path(event_status) %>">
        <td><%= event_status.event_status_desc %></td>
        <td><%= link_to 'Destroy', event_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event Status', new_event_status_path %>