<!DOCTYPE html>
<html>
<head>
  <title>GOLEMS</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track'=> 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track'=> 'reload' %>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta name="viewport" content="width=device=width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

<body>
<div id="wrapper">
  <% if user_signed_in? %>
      <div id="sidebar-wrapper">
        <div class="sidebar-logo text-center"><%= link_to '<span class="glyphicon glyphicon-home"><br>Logo</span>'.html_safe %></div>
        <div class="sidebar-item text-center"><%= link_to '<span class="glyphicon glyphicon-stats"><br>Dashboard</span>'.html_safe, dashboards_path, method: :get %></div>
        <div class="sidebar-item text-center"><%= link_to '<span class="glyphicon glyphicon-calendar"><br>Event</span>'.html_safe, events_path, method: :get %></div>
        <div class="sidebar-item text-center"><%= link_to '<span class="glyphicon glyphicon-list-alt"><br>Walk-In</span>'.html_safe, walk_ins_path, method: :get %></div>
        <div class="sidebar-item text-center"><%= link_to '<span class="glyphicon glyphicon-shopping-cart"><br>Customer</span>'.html_safe, customers_path, method: :get %></div>
        <div class="sidebar-item text-center"><%= link_to '<span class="glyphicon glyphicon-briefcase"><br>Employee</span>'.html_safe, employees_path, method: :get %></div>
        <div class="sidebar-item text-center"><%= link_to '<span class="glyphicon glyphicon-gift"><br>Pick-Up</span>'.html_safe, pickups_path, method: :get %></div>
        <div class="sidebar-item text-center"><%= link_to '<span class="glyphicon glyphicon-user"><br>Admin</span>'.html_safe, admin_path, method: :get %></div>
        <div class="sidebar-item text-center"><%= link_to '<span class="glyphicon glyphicon-hdd"><br>Archive</span>'.html_safe, archive_path, method: :get %></div>
        <div class="sidebar-item text-center"><%= link_to '<span class="glyphicon glyphicon-off"><br>Logout</span>'.html_safe, destroy_user_session_path, :method => 'delete' %></div>
      </div>

      <div id="page-content-wrapper">
        <div class="container-fluid">
          <%= yield %>
        </div>
      </div>
  <% else %>
      <%= yield %>
  <% end %>
</div>

</body>
</html>
