<!DOCTYPE html>
<html>
  <head>
    <title>GOLEMS</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track'=> 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track'=> 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <meta name="viewport" content="width=device=width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>

  <body>
  <div id="wrapper">
        <div id="sidebar-wrapper">
          <div class="row sidebar">
            <div class="col-lg-12">
              <div class="row sidebar-logo text-center"><span class="glyphicon glyphicon-home sidebar-logo"></span><br>Logo</div>
              <div class="row sidebar-item"><%= link_to '<span class="glyphicon glyphicon-stats"> Dashboard</span>'.html_safe, dashboards_path%></div>
              <div class="row sidebar-item"><%= link_to '<span class="glyphicon glyphicon-calendar"> Event</span>'.html_safe, events_path%></div>
              <div class="row sidebar-item"><%= link_to '<span class="glyphicon glyphicon-shopping-cart"> Customer</span>'.html_safe, customers_path%></div>
              <div class="row sidebar-item"><%= link_to '<span class="glyphicon glyphicon-briefcase"> Employee</span>'.html_safe, employees_path%></div>
              <div class="row sidebar-item"><%= link_to '<span class="glyphicon glyphicon-gift"> Pickup</span>'.html_safe, new_release_path, data: {toggle: "modal", target: "#pickupModal"} %></div>
              <div class="row sidebar-item"><%= link_to '<span class="glyphicon glyphicon-user"> Admin</span>'.html_safe, new_release_path, data: {toggle: "modal", target: "#adminModal"} %></div>
              <div class="row sidebar-item"><%= link_to '<span class="glyphicon glyphicon-hdd"> Archive</span>'.html_safe, archive_path %></div>
            </div>
          </div>
        </div>

        <div id="page-content-wrapper">
          <div class="container-fluid">
            <%= yield %>
          </div>
        </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="pickupModal" tabindex="-1" role="dialog" aria-labelledby="pickupLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="pickupLabel">Choose a Pick-Up Report</h4>
        </div>
        <div class="modal-body">
          <%= render 'pickup_switch' %>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="adminModal" tabindex="-1" role="dialog" aria-labelledby="adminLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="pickupLabel">Choose a table to modify</h4>
        </div>
        <div class="modal-body">
          <%= render 'admin_switch' %>
        </div>
      </div>
    </div>
  </div>

  </body>
</html>
